@import 'tailwindcss';
@import 'tailwind-scrollbar-hide/v4';
@import './typo.css';
@import './theme.css';

@font-face {
	font-family: 'Pretendard';
	src: url('../assets/fonts/PretendardVariable.woff2') format('woff2');
	font-weight: 400 900;
	font-style: normal;
	font-display: swap;
}

@layer base {
	body {
		@apply font-pretendard text-label-normal;
	}

	button {
		@apply cursor-pointer disabled:pointer-events-none;
	}
}

@layer utilities {
	/* textarea 전용 스크롤바 스타일 */
	.textarea-scrollbar::-webkit-scrollbar {
		width: 3px;
	}

	.textarea-scrollbar::-webkit-scrollbar-thumb {
		background-color: #dddddf;
		border-radius: 9999px;
	}

	.textarea-scrollbar::-webkit-scrollbar-track {
		background-color: #ffffff;
		border-radius: 9999px;
		margin-top: -5px;
		margin-bottom: -40px;
	}

	/* file-uploader 전용 스크롤바 스타일 */
	.file-uploader-scrollbar::-webkit-scrollbar {
		width: 9px;
	}

	.file-uploader-scrollbar::-webkit-scrollbar-thumb {
		background-color: var(--color-fill-strong);
		border-radius: 9999px;
		border: solid 3px #fff;
	}

	.file-uploader-scrollbar::-webkit-scrollbar-track {
		background-color: transparent;
		border-radius: 9999px;
		margin: 2px;
	}
}
